.section {
  background-color: white !important;
  width: 100vw;
  height: calc(100vh - 80px);
  text-align: center;
  padding: 30px;
}

.section input {
  border: 3px solid black;
  width: 80vw;
  height: 80px;
  margin: auto;
  padding: 10px;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container button {
  all: unset;
  cursor: pointer;
}
.container img {
  width: 50px;
  height: 50px;
  background-color: white;
}
.container img:hover {
  background-color: rgb(236, 246, 255);
}

.container div {
  border-radius: 10px;
  background-color: rgb(236, 246, 255);
  width: 80vw;
  height: 80px;
  margin: 20px 10px;
  padding: 10px 20px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
}

.container div::-webkit-scrollbar {
  height: 10px; /* 가로축 스크롤바 폭 너비 */
}

/* Track */
.container div::-webkit-scrollbar-track {
  background-color: none;
}

/* Handle */
.container div::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #8ec5fc 0%, #e0c3fc 72%);
  border-radius: 10px;
}

.container p {
  font-size: 1em;
  margin: 10px 20px;
  width: auto;
  height: 60px;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}
