.section {
  background-color: white !important;
  width: 100vw;
  height: calc(100vh - 80px);
  text-align: center;
  padding: 30px;
}

.section input {
  border: 3px solid black;
  width: 80vw;
  height: 80px;
  margin: auto;
  padding: 10px;
  font-size: 2rem;
}

.container {
  border-radius: 10px;
  background-color: rgb(236, 246, 255);
  width: 80vw;
  height: 80px;
  margin: 20px auto;
  padding: 10px;
  font-size: 2rem;
}
