.container {
  margin: 0 auto;
  width: 94vw;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  background-color: white;
  border-radius: 10px;
  border: 4px solid rgb(95, 95, 95);
  width: 1012px;
  height: 712px;
  margin-right: 100px;
}
.canvas {
  width: 100%;
  height: 100%;
}
.saveBtn {
  text-align: center;
  margin: 20px auto 0 auto;
  border: 4px solid #555;
  background: none;
  cursor: pointer;
  border-radius: 20px;
  width: 500px;
  height: 70px;
  font-size: 30px;
}
