.container {
  margin: 0 auto;
  width: 94vw;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  background-color: white;
  border: 1px solid black;
  width: 1002px;
  height: 702px;
  margin-right: 100px;
}
.canvas {
  width: 100%;
  height: 100%;
}
.saveBtn {
  text-align: center;
  margin: 20px auto 0 auto;
  border: 1px solid black;
  background: none;
  cursor: pointer;
  border-radius: 20px;
  /* margin-top: 20px; */
  width: 450px;
  height: 70px;
  font-size: 30px;
}
