.palette {
  width: 400px;
  height: 620px;
}
.colorBtn {
  cursor: pointer;
  border: none;
  margin: 5px 25px;
  height: 140px;
  width: 140px;
  border-radius: 140px;
}

.red {
  background-color: #ff0000;
}
.orange {
  background-color: #ff9900;
}
.yellow {
  background-color: #fef400;
}
.green {
  background-color: #01eb18;
}
.blue {
  background-color: #037fda;
}
.purple {
  background-color: #bf00cf;
}
.black {
  background-color: rgb(0, 0, 0);
}
.white {
  border: 1px solid black;
  background-color: #ffffff;
}
