/* // Init~ Don't touch here! */
$color: #555;

.container {
  text-align: center;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
.item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 79px;
  box-sizing: border-box;
  position: relative;
  font-size: 20px;
  color: $color;
  font-weight: 900;
  // text-shadow: 3px 0 0 rgba(white, .5);
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    border: 4px solid $color;
    border-radius: 10px;
    box-sizing: border-box;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: -1;
  }
  $colors: (
    rgb(255, 34, 34),
    rgb(255, 98, 185),
    rgb(255, 136, 0),
    gold,
    limegreen,
    dodgerblue,
    rgb(156, 0, 135),
    rgb(0, 0, 0),
    rgb(255, 255, 255)
  );
  @each $color in $colors {
    $index: index($colors, $color);
    &:nth-child(#{$index})::before {
      background-color: rgba($color, 0.8);
    }
  }
  &::after {
    content: "";
    width: 10px;
    height: 50%;
    background: white;
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 100px;
    opacity: 0.5;
    z-index: -1;
  }
}
.penText {
  font-size: 20px;
  margin: 20px;
}
.pens {
  width: 100%;
  margin: 20px 0;
}
.pen {
  cursor: pointer;
  margin: 0 20px;
  display: inline;
  padding: 10px 40px;
  border: 4px solid $color;
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
}
