.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  position: absolute;
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(255, 72, 72);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.topRightCircle {
  top: 0;
  left: calc(100% - 100px);
}
.bottomLeftCircle {
  top: calc(100% - 100px);
  left: 0;
}
.bottomRightCircle {
  top: calc(100% - 100px);
  left: calc(100% - 100px);
}

.content {
  font-size: 50px;
  text-align: center;
}
.text {
  animation: show 1s infinite alternate;
}
.finish {
  margin-top: 40vh;
}
@keyframes show {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0.8;
  }
}

.cam {
  display: block;
}

.cam {
  position: absolute;
  right: 100%;
}
