.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .circle {
  position: absolute;
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50%;
  background-color: rgb(255, 72, 72);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
} */

.circle {
  position: fixed;
  width: 70px;
  height: 70px;
  /* margin: 10px; */
  border-radius: 50%;
  background-color: rgb(255, 72, 72);
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.content {
  font-size: 50px;
  text-align: center;
  margin-top: 250px;
}
.text {
  animation: show 1s infinite alternate;
}
.finish {
  margin-top: 40vh;
}
@keyframes show {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0.8;
  }
}

.cam {
  display: block;
}

.cam {
  position: absolute;
  right: 100%;
}
