*,
*:before,
*:after {
  box-sizing: border-box;
}

.card {
  color: inherit;
  cursor: pointer;
  width: 500px;
  height: 600px;
  margin: auto;
  perspective: 1000px;
  position: relative;
}

.front,
.back {
  display: flex;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: ease-in-out 600ms;
}

.front {
  background-size: cover;
  padding: 2rem;
  font-size: 1.618rem;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  font-family: Poppins, sans-serif;
}

.card:hover .front {
  transform: rotateY(180deg);
}
.card:nth-child(even):hover .front {
  transform: rotateY(-180deg);
}

.back {
  transform: rotateY(-180deg);
  padding: 0 2em;
  flex-wrap: wrap;
}
.back:before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: -1;
  border-radius: 20px;
}
.back .genre {
  background: white;
}
.back .genre:before {
  box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
  background-color: rgba(26, 87, 230, 0.25);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.genre {
  width: calc(40%);
  height: calc(20%);
  margin: auto;
  transform: translateZ(40px);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  color: black;
  padding: 0.5em 1em;
  border-radius: 10px;
  font: inherit;
  border: none;
  position: relative;
  transform-style: preserve-3d;
  transition: 300ms ease;
}
.genre:before {
  transition: 300ms ease;
  position: absolute;
  display: block;
  content: "";
  transform: translateZ(-40px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  left: 10px;
  top: 16px;
}
.genre:hover {
  transform: translateZ(55px);
}
.genre:hover:before {
  transform: translateZ(-55px);
}
.genre:active {
  transform: translateZ(20px);
}
.genre:active:before {
  transform: translateZ(-20px);
  top: 12px;
}
