.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 80px;
  width: 100vw;
  background-color: rgba(238, 248, 255, 1);
  margin: auto;
}

.logo {
  margin: auto;
  flex: 1 1 30%;
  display: flex;
  justify-content: flex-start;
}

.logoItem {
  margin: auto 30px;
}

.menu {
  margin: auto;
  flex: 1 1 70%;
  display: flex;
  justify-content: flex-end;
  color: black;
}

.menu a,
span {
  color: black;
  cursor: pointer;
  font-size: 17pt;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 0;
}

.menu a span {
  display: block;
  -webkit-transition: -webkit-transform 500ms
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55),
    -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu a:after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: attr(data-hover);
  display: inline;
  text-align: center;
  -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu a:hover {
  color: rgba(7, 110, 184, 1);
}

.menu span:hover {
  color: rgba(7, 110, 184, 1);
}

.menu a:hover span {
  color: rgba(7, 110, 184, 1);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.menu a:hover:after {
  top: 0;
}

.menu a:active {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
