.btnBox {
  text-align: center;
  margin: 30px auto 0 auto;
}
.btn {
  cursor: pointer;
  border-radius: 12px;
  background-color: rgb(199, 223, 247);
  font-size: 30px;
  width: 600px;
  height: 100px;
  margin: 0 auto;
}
