.container {
  margin-top: 50px;
  text-align: center;
}

.item {
  cursor: pointer;
  margin: 0 20px;
  width: 150px;
  height: 70px;
  border-radius: 30px;
  font-size: 20px;
  background: none;
}
.sortBtn1,
.sortBtn2 {
  float: right;
  cursor: pointer;
  background: none;
  font-size: 20px;
  margin: 0 20px;
}

.sortBtn1 {
  margin-right: 130px;
}
